---
Checks: >-
  *,
  ,-google-readability-namespace-comments,
  ,-google-runtime-references,
  ,-llvm-header-guard,
  ,-llvm-namespace-comment,
  ,-readability-braces-around-statements,
  ,-readability-named-parameter,
  ,-hicpp-braces-around-statements,
  ,-hicpp-vararg,
  ,-cppcoreguidelines-pro-type-vararg,
  ,-cert-err58-cpp,
  ,-fuchsia-*
